body{
  font: 13pt Teko, verdana, sans-serif;
  margin: 0;
  background-color: #000000;
}
 @font-face {
   font-family: 'Teko';
   src: url('/font/Teko-Bold.ttf') format('truetype'),
   url('font/Teko-Light.ttf') format('truetype'),
   url('font/Teko-Medium.ttf') format('truetype'),
   url('font/Teko-Regular.ttf') format('truetype'),
   url('font/Teko-Semibold.ttf') format('truetype');
   font-style: normal;
 }
@font-face {
  font-family: 'Cinzel';
  src: url('/font/Cinzel/Cinzel-VariableFont_wght.ttf') format('truetype');
}
#frase{
  font: 23pt Cinzel;
}
header{
  height: 100vh;
  margin: 0;
  background-color: black;
  background-image: url('../img/Dforest.jpg');
  background-size:cover;
  background-attachment: fixed;
}


 #hello{
   text-align:left;
   margin: 0;
   font-size: 300%;
   color: white;
 }

 #mynanme{
   text-align:left;
   margin: 0;
   font-size: 900%;
   color: white;
 }

 #fuego{
   float: left;
   left: 70%;
   top: 0px;
   width: 30%;
   position: absolute;
 }
  #arrow{
    width: 10%;
    position: sticky;
    float: left;
    left: 50%;
    top: 50%;
  }
  #tree{
    width: 100%;
    margin: 0;
    position: sticky;
    float: left;
    top: 100%;
  }
 }
 .info{
   margin: 15%;
   color: white;

 }
 #skills{
   float: left;
   margin: 5%;
   color: white;
   background-color:rgba(70, 97, 229, 0.76);
   -moz-border-radius: 20px;
   -web-kit-border-radius:20px;
   border-radius: 20px;
   width: 40%;
   border-sizing:border-box;
 }

#ability{
  float: left;
  margin: 5%;
  color: white;
  background-color:rgba(229,70,70,0.76);
  -moz-border-radius: 20px;
  -web-kit-border-radius:20px;
  border-radius: 20px;
  width: 40%;
  border-sizing:border-box;

}

 #con{
   margin: 5%;
   color: white;
   width: 40%;
   border-sizing:border-box;
 }
 #me{
  float: right;
  width: 50%;
  border-sizing:border-box;
 }

 #xami{
   float: right;
   width: 50%;
   border-sizing:border-box;
   margin:15px;
 }
